---
layout: page
title: Kendime Notlar 
subtitle: Aklıma yazacağıma buraya yazayım :) 
use-site-title: true
---

<div class="posts-list">	
  {% for post in paginator.posts %}
	<article class="post-preview">
		
     		
<p class="post-meta">
{% assign B = post.date | date: "%B" %}
{{ post.date | date: "%-d" }}
{% case B %}
  {% when 'January' %}Ocak
  {% when 'February' %}Şubat
  {% when 'March' %}Mart
  {% when 'April' %}Nisan
  {% when 'May' %}Mayıs
  {% when 'June' %}Haziran
  {% when 'July' %}Temmuz
  {% when 'August' %}Ağustos
  {% when 'September' %}Eylül
  {% when 'October' %}Ekim
  {% when 'November' %}Kasım
  {% when 'December' %}Aralık
{% endcase %}
{{ post.date | date: "%Y" }}
		</p>
		
		
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
    </a>
	</article>
  {% endfor %}
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5705972838498817",
    enable_page_level_ads: true
  });
</script>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Yeni Yazılar</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Eski Yazılar</a>
  </li>
  {% endif %}
</ul>
{% endif %}
