---
layout: page
title: Kendime Notlar 
subtitle: Aklıma yazacağıma buraya yazayım :) 
use-site-title: true
---

<div class="posts-list">	
  {% for post in paginator.posts %}
	<article class="post-preview">
		
     <p class="post-meta">		
{% assign -b = page.date | date: "%b" %}
{{ page.date | date: "%d" }}
{% case b %}
  {% when 'Jan' %}Ocak
  {% when '2' %}Şubar
  {% when '3' %}Mart
  {% when '4' %}Nisan
  {% when '5' %}Mayıs
  {% when '6' %}Haziran
  {% when '7' %}Temmuz
  {% when '8' %}Ağustos
  {% when '9' %}Eylül
  {% when '10' %}Ekim
  {% when '11' %}Kasım
  {% when '12' %}Aralık
{% endcase %}
	     {{ post.date | date: "%d %b, %Y" }}
    </p>
		
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
    </a>
	</article>
  {% endfor %}
</div>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-5705972838498817",
    enable_page_level_ads: true
  });
</script>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Yeni Yazılar</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Eski Yazılar</a>
  </li>
  {% endif %}
</ul>
{% endif %}
