---
layout: page
title: Kendime Notlar 
subtitle: Aklıma yazacağıma buraya yazayım :) 
use-site-title: true
---

<div class="posts-list">
	
  {% for post in paginator.posts %}
  <article class="post-preview">
     <p class="post-meta">
      {{ post.date | date: "%B %-d, %Y" }}
    </p>
   
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
    </a>
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Yeni Yazılar</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Eski Yazılar</a>
  </li>
  {% endif %}
</ul>
{% endif %}
